*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

nav{
    text-align: center;
    height: 10.15vh;
    width: 100%;
    background-color: lightskyblue;
    position: relative;
    animation: navbar 1s ease-in-out;
}

#d1{
    margin: 0px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div h1{
    color: #0003FF;
    font-size: 3.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1{
    color: #FFC20B;
    font-size: 1.5em;
}

.s2{
    font-size: 0.7em;
}

#b1{
    padding: 5px 10px;
    font-size: 2.5vh;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1367C6;
}

nav ul{
    font-weight: 900;
    font-size: 2.5vh;
    width: 100%;
    color: #000000;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

main{
    height: calc(100vh - 20.3vh);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.divv{
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    border: 2px solid;
}

#div1{
    position: relative;
    background-color: #81D3C0;
    animation: ddiv1 2s ease-in-out;
}

#div2{
    position: relative;
    background-color: #A0A1E2;
    animation: ddiv2 2s ease-in-out;
}

footer{
    position: absolute;
    bottom: 0px;
    height: 10.15vh;
    width: 100%;
    background-color: lightskyblue;
    font-size: 0.75em;
    text-align: center;
    animation: foot 1s ease-in-out;
}

footer ul{
    text-decoration: none;
    font-size: 2.2vh;
    margin: 1.5vh;
}

@keyframes navbar{
    from{top: 2000px;}
    to{top: 0px;}
}

@keyframes foot{
    from{bottom: 2000px;}
    to{bottom: 0px;}
}

@keyframes ddiv1{
    from{right: 1000px;}
    to{right: 0px;}
}

@keyframes ddiv2{
    from{left: 1000px;}
    to{left: 0px;}
}

i{
    visibility: hidden;
}
